.container{
	width: 29em;
	height: 29em;
}

.box {
	margin: 3em;
	background-color: #2e8fff;
	width: 10em;
	height: 10em;
	overflow: hidden;
	z-index: 1;
	-webkit-transition: width 1s, height 1s;
}

#box1 {
	position: fixed;
}

#box2 {
	margin-left: 3em;
	background-color: #c72eff;
	top: 13em;
	position: fixed;
}

.box_click {
	width: 22.5em;
	height: 22.5em;
	z-index: 2;
	position: inherit;
	top: 0em;

}

.content {
	display: none;
}

.content_click {
	display: inline;
}

.title{
	display: inline;
}

.title_click{
	display: none;
}